In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("webscraping_output.csv")

In [3]:
df.drop(["Unnamed: 0","Unnamed: 1","Unnamed: 7"],axis=1,inplace=True)

In [4]:
df.rename(columns={"% ofworld":"Percentage","Source (official or fromthe United Nations)":"Source"},inplace=True)

In [5]:
df

,Location,Population,Percentage,Date,Source
0,United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
...,...,...,...,...,...
233,Niue,"1,689",0%,11 Nov 2022,2022 Census [232]
234,Tokelau (NZ),"1,647",0%,1 Jan 2019,2019 Census [233]
235,Vatican City,764,0%,26 Jun 2023,Official figure[234]
236,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[235]
237,Pitcairn Islands (UK),47,0%,1 Jul 2021,Official estimate[236]

In [6]:
df.to_csv("Sample_data.csv")

In [7]:
# read_csv -- used to read csv file 
df=pd.read_csv("Sample_data.csv")

In [8]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
...,...,...,...,...,...,...
233,233,Niue,"1,689",0%,11 Nov 2022,2022 Census [232]
234,234,Tokelau (NZ),"1,647",0%,1 Jan 2019,2019 Census [233]
235,235,Vatican City,764,0%,26 Jun 2023,Official figure[234]
236,236,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[235]
237,237,Pitcairn Islands (UK),47,0%,1 Jul 2021,Official estimate[236]

In [9]:
#skiprows----used to skip the rows from Top 
df=pd.read_csv("Sample_data.csv",skiprows=0)

In [10]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
...,...,...,...,...,...,...
233,233,Niue,"1,689",0%,11 Nov 2022,2022 Census [232]
234,234,Tokelau (NZ),"1,647",0%,1 Jan 2019,2019 Census [233]
235,235,Vatican City,764,0%,26 Jun 2023,Official figure[234]
236,236,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[235]
237,237,Pitcairn Islands (UK),47,0%,1 Jul 2021,Official estimate[236]

In [11]:
# header - 1.used to set which ever row we want as header , or 2.if there is No header in csv we set new header 
#1. we have set the 4 th row as header , data starts from 5th row
df=pd.read_csv("Sample_data.csv",header=4)

In [12]:
df

,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
0,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
1,5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]
2,6,Russia,"146,150,789",1.8%,1 Jan 2024,Official estimate[13]
3,7,Mexico,"129,625,968",1.6%,31 Dec 2023,National quarterly estimate[14]
4,8,Japan,"123,990,000",1.5%,1 Feb 2024,Official estimate[15]
...,...,...,...,...,...,...
229,233,Niue,"1,689",0%,11 Nov 2022,2022 Census [232]
230,234,Tokelau (NZ),"1,647",0%,1 Jan 2019,2019 Census [233]
231,235,Vatican City,764,0%,26 Jun 2023,Official figure[234]
232,236,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[235]
233,237,Pitcairn Islands (UK),47,0%,1 Jul 2021,Official estimate[236]

In [15]:
#2.if there is No header  we can add new header 
df=pd.read_csv("Sample_data.csv",skiprows=1,header=None,names=["Rank","Country","Population","%","data source"])

In [16]:
df

,Rank,Country,Population,%,data source
0,United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
...,...,...,...,...,...
233,Niue,"1,689",0%,11 Nov 2022,2022 Census [232]
234,Tokelau (NZ),"1,647",0%,1 Jan 2019,2019 Census [233]
235,Vatican City,764,0%,26 Jun 2023,Official figure[234]
236,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[235]
237,Pitcairn Islands (UK),47,0%,1 Jul 2021,Official estimate[236]

In [19]:
# nrows--- read required number of rows 
df=pd.read_csv("Sample_data.csv",nrows=6)

In [24]:
df.set_index("Location",inplace=True)

In [26]:
df

,Population,Percentage,Date,Source
Location,,,,
United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [27]:
#na_values --convert the data into NaN
df=pd.read_csv("Sample_data.csv",na_values=["0%","0.1%"])
# it converts given values into NaN in the Columns

In [28]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,Official estimate[7]
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
...,...,...,...,...,...,...
233,233,Niue,"1,689",NaN,11 Nov 2022,2022 Census [232]
234,234,Tokelau (NZ),"1,647",NaN,1 Jan 2019,2019 Census [233]
235,235,Vatican City,764,NaN,26 Jun 2023,Official figure[234]
236,236,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[235]
237,237,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[236]

In [29]:
# if we want to converrt the given values to NaN for a perticular Row instaed of list we can give dic
df=pd.read_csv("Sample_data.csv",na_values={"Percentage":["0%","0.1%"],"Source":["Official estimate[7]"]},nrows=6)

In [30]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,NaN
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
5,5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [23]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,NaN
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
5,5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [31]:
#to_csv -- convert dataframe into Csv file 
df.to_csv("Sample2.csv",index=False)

In [32]:
#if we want only pericular columns to export Not all the columns 
df.to_csv("Sample1.csv",columns=["Location","Percentage"])

In [33]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,NaN
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
5,5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [37]:
#if we dont want header to export
df.to_csv("Sample2.csv",header=False)

In [38]:
df

,Unnamed: 0,Location,Population,Percentage,Date,Source
0,0,United States,"335,893,238",4.1%,1 Jan 2024,NaN
1,1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
5,5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [39]:
df.to_excel("sample_data.xlsx",columns=["Location","Population","Percentage","Date","Source"],index=False)

In [40]:
df=pd.read_excel("sample_data.xlsx")

In [41]:
df

,Location,Population,Percentage,Date,Source
0,United States,"335,893,238",4.1%,1 Jan 2024,NaN
1,Indonesia,"279,118,866",3.4%,1 Jul 2023,National annual projection[8]
2,Pakistan,"241,499,431",3.0%,1 Mar 2023,2023 census result[9]
3,Nigeria,"223,800,000",2.8%,1 Jul 2023,Official projection[10]
4,Brazil,"203,080,756",2.5%,1 Aug 2022,2022 census result[11]
5,Bangladesh,"169,828,911",2.1%,14 Jun 2022,2022 census result[12]

In [42]:
#converters
def convert_Sournce_Cell(Cell):
    if Cell=="National annual projection[8]":
        return "2022 census result"
    return Cell
df=pd.read_excel("sample_data.xlsx",converters={"Source":convert_Sournce_Cell})

In [43]:
df

        Location   Population Percentage         Date                   Source
0  United States  335,893,238       4.1%   1 Jan 2024                      NaN
1      Indonesia  279,118,866       3.4%   1 Jul 2023       2022 census result
2       Pakistan  241,499,431       3.0%   1 Mar 2023    2023 census result[9]
3        Nigeria  223,800,000       2.8%   1 Jul 2023  Official projection[10]
4         Brazil  203,080,756       2.5%   1 Aug 2022   2022 census result[11]
5     Bangladesh  169,828,911       2.1%  14 Jun 2022   2022 census result[12]

In [44]:
df

        Location   Population Percentage         Date                   Source
0  United States  335,893,238       4.1%   1 Jan 2024                      NaN
1      Indonesia  279,118,866       3.4%   1 Jul 2023       2022 census result
2       Pakistan  241,499,431       3.0%   1 Mar 2023    2023 census result[9]
3        Nigeria  223,800,000       2.8%   1 Jul 2023  Official projection[10]
4         Brazil  203,080,756       2.5%   1 Aug 2022   2022 census result[11]
5     Bangladesh  169,828,911       2.1%  14 Jun 2022   2022 census result[12]

In [45]:
#startrow ,#startcol --- it writes from that particular row and col

df.to_excel("sample_data.xlsx",index=False,startrow=2,startcol=4)

In [46]:
df.to_excel("sample_data.xlsx",index=False)

In [47]:
df=pd.read_excel("sample_data.xlsx")

In [48]:
df

        Location   Population Percentage         Date                   Source
0  United States  335,893,238       4.1%   1 Jan 2024                      NaN
1      Indonesia  279,118,866       3.4%   1 Jul 2023       2022 census result
2       Pakistan  241,499,431       3.0%   1 Mar 2023    2023 census result[9]
3        Nigeria  223,800,000       2.8%   1 Jul 2023  Official projection[10]
4         Brazil  203,080,756       2.5%   1 Aug 2022   2022 census result[11]
5     Bangladesh  169,828,911       2.1%  14 Jun 2022   2022 census result[12]

In [58]:
#ExcelWriter
with pd.ExcelWriter("sample_data.xlsx") as Writer:
    df.to_excel(Writer,sheet_name="new")
    df.to_excel(Writer,sheet_name="new1")